* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontR_R;
}

body {
  @media screen and (max-width: 830px) {
    margin-top: 60px;
  }

  &.mobile {

    * {
      cursor: none !important;
      outline: none !important;

    }
  }
}
