.page-exchange {
  min-height: 100vh;
  height: 100%;
  background: url("../../img/bg-section14.svg") no-repeat center bottom;
  background-size: 100%;

  .footer {
    margin-top: auto;
    background: white;

    .content-wrapper {
      .bottom {
        margin-top: 0;
      }
    }
  }

  .main-content-wrapper {
    display: flex;
    justify-content: center;
    margin: auto 0 auto 0;
    padding: 0 45px;

    @media screen and (max-width: 925px) {
      padding: 0 15px;
      flex-direction: column-reverse;
      align-items: center;
      margin: 70px 0 40px 0;
    }

    .left {
      max-width: 870px;
      min-width: 740px;
      width: 100%;
      @media screen and (max-width: 925px) {
        max-width: 520px;
        min-width: 1px;
        margin-top: 20px;
      }

      img {
        width: 100%;
        height: auto;
      }

    }

    .right {
      min-width: 100px;
      max-width: 520px;
      width: 100%;
      margin-left: -270px;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 925px) {
        margin-left: 0;
        align-items: center;
        margin-top: 40px;
      }


      .h2-title {
        margin-bottom: 30px;
        color: #3864a6;
        font-family: $fontM_SB;
        font-size: 16px;
        @media screen and (max-width: 925px) {
          text-align: center;
        }
        @media screen and (max-width: 425px) {
          font-size: 14px;
        }
      }

      .h1-title {
        margin-bottom: 30px;
        color: #262626;
        font-family: $fontM_R;
        font-size: 40px;
        @media screen and (max-width: 925px) {
          text-align: center;
        }
        @media screen and (max-width: 425px) {
          font-size: 28px;
        }
      }

      .reg-text {
        line-height: 1.3em;
        margin-bottom: 30px;
        color: #262626;
        font-family: $fontM_R;
        font-size: 20px;
        @media screen and (max-width: 925px) {
          text-align: center;
        }
        @media screen and (max-width: 425px) {
          font-size: 16px;
        }

        span {
          font-family: $fontM_M;
        }
      }

      .input-wrapper {
        @media screen and (max-width: 925px) {
          width: 100%;
        }

        form {
          height: 50px;
          display: flex;
          flex-direction: row;
          @media screen and (max-width: 925px) {
            width: 100%;
          }

          .input-item {
            width: 70%;
            position: relative;


            &.active, &:hover, &:focus {
              .reg-text {
                top: 6px;
                font-size: 10px;
              }
            }

            .reg-text {
              margin: 0;
              z-index: 1;
              position: absolute;
              left: 20px;
              top: 18px;
              color: #8c9aa7;
              font-size: 14px;
              font-family: $fontR_R;
              transition: all 0.2s ease;
            }

            input {
              position: relative;
              padding: 0 20px;
              border: 1px solid rgb(200, 207, 216);
              border-radius: 5px 0 0 5px;
              height: 100%;
              width: 100%;
              color: #212b36;
              font-family: $fontM_R;
              font-size: 14px;
              outline: none;

              &:focus {
                outline: none
              }
            }
          }

          .submit-btn {
            cursor: pointer;
            width: 30%;
            background-image: linear-gradient(-2deg, rgb(0, 100, 170) 0%, rgb(0, 190, 255) 100%);
            border: none;
            border-radius: 0 5px 5px 0;

            p {
              color: #ffffff;
              font-family: $fontR_M;
              font-size: 14px;
            }

            &:hover {
              background-image: none;
              background: #0064aa;
            }
          }
        }
      }

      .links {
        margin-top: 60px;
        text-decoration: none;
        color: #3864a6;
        font-family: $fontR_R;
        font-size: 18px;
        @media screen and (max-width: 925px) {
          text-align: center;
        }
        @media screen and (max-width: 425px) {
          font-size: 14px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
