.request-demo {
  min-height: 100vh;
  position: relative;

  .bg {
    z-index: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url("../../img/us-bg.svg") no-repeat center;
    background-size: 100%;
  }

  .main-content-wrapper {
    position: relative;
    z-index: 2;
    margin-top: 100px;
    padding-left: 20%;
    padding-right: 15px;
    margin-bottom: 70px;
    @media screen and (max-width: 1440px) {
      padding-left: 10%;
    }
    @media screen and (max-width: 950px) {
      padding: 0 15px 0 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .h1-title {
      color: #212121;
      font-size: 54px;
      font-family: $fontM_M;
      @media screen and (max-width: 500px) {
        font-size: 32px;
      }
    }

    .reg-text {
      margin-top: 40px;
      color: #212121;
      font-size: 20px;
      font-family: $fontM_R;
      max-width: 725px;
      line-height: 1.3em;
      @media screen and (max-width: 500px) {
        font-size: 16px;
      }

      span {
        color: #0064aa;
      }
    }

    .form-block {
      margin-top: 28px;
      max-width: 725px;
      width: 100%;
      border-radius: 15px;
      background: white;
      box-shadow: 0 18px 34px 0 rgba(5, 48, 95, 0.32);
      padding: 46px 60px 35px 60px;
      @media screen and (max-width: 500px) {
        padding: 20px 20px 10px 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 500px) {
          margin-top: 25px;
        }

        .select {
          line-height: 1;
          background: url("../../img/dropdown.svg") no-repeat right #ddd;
          -webkit-appearance: none;
          background-position-x: 98%;
        }

        .input, .select {
          margin-bottom: 10px;
          width: 100%;
          height: 50px;
          padding: 12px;
          background-color: white;
          border: 1px solid rgb(200, 207, 216);
          border-radius: 8px;
          color: #8c9aa7;
          font-size: 16px;
          font-family: $fontR_R;
          outline-color: none;
          &:focus {
            border-color: #00beff;
            outline: none;
          }
          &::placeholder {
            color: #8c9aa7;
            font-size: 16px;
            font-family: $fontR_R;
            @media screen and (max-width: 500px) {
              font-size: 14px;
            }
          }
          @media screen and (max-width: 500px) {
            font-size: 14px;
          }
        }

        .input, .select {
          display: inline;
          position: relative
        }

        .filled:invalid {
          border: 1px solid red;
        }

        textarea {
          min-height: 78px;
          resize: none;
        }

        .bottom-btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 12px;
          @media screen and (max-width: 500px) {
            flex-direction: column;
          }

          p {
            color: #595f63;
            font-family: $fontR_L;
            font-size: 14px;
            @media screen and (max-width: 500px) {
              margin-top: 20px;
            }
          }

          .submit-btn {
            order: 2;
            outline: none;
            cursor: pointer;
            border: none;
            border-radius: 22px;
            background-image: linear-gradient(
              0deg,
              rgb(0, 100, 170) -50%,
              rgb(0, 190, 255) 100%
            );
            box-shadow: 0 9px 34px 0 rgba(5, 48, 95, 0.32);
            width: 230px;
            height: 44px;
            color: #ffffff;
            font-size: 14px;
            font-family: $fontR_M;
            &:hover {
              background-image: none;
              background-color: rgb(0, 190, 255);
              box-shadow: 0px 4px 10px 0px rgba(5, 48, 95, 0.45);
            }
            &:hover:disabled {
              background-image: linear-gradient(
                0deg,
                rgb(0, 100, 170) -50%,
                rgb(0, 190, 255) 100%
              );
              box-shadow: 0 9px 34px 0 rgba(5, 48, 95, 0.32);
            }
            &:disabled {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
